.homepage-container {
  display: flex;
  gap: 2rem;
  padding-right: 2rem;
}

.coinlist-wrapper {
  flex: 1;
  min-width: 0;
}
.other-wrapper {
  flex: 2;
  min-width: 0;
}

@media (max-width: 600px) {
  .homepage-container {
    flex-direction: column;
    padding-right: 0;
  }
  .other-wrapper {
    display: none;
  }
}
